<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>欢迎参与信息系统安全课程</title>
</head>
<body>
<h1>信息系统安全-课程设计要求</h1>
<br/>
<a th:href="@{/login}">登陆</a>
<a th:href="@{/users}">用户列表</a>
<a th:href="@{/user/5040}">用户信息</a>
<a th:href="@{/hello}">hello</a>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>